html {
    font-size: 15px !important;
}

header {
    align-content: flex-start !important;
    padding: 12px 96px !important;
    color: white !important;
    font-size: 0.8rem !important;
}

h1 {
    margin-bottom: 0px !important;
}

main {
    padding: 24px 96px;
}

.bg-primary {
    background-color: #4d7299 !important;
}

.btn-primary {
    background-color: #4d7299 !important;
    border-color: #4d7299;
}